html {
  background-color: #85c88a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin-top: 100px;
  background-color: #eeeeee;
  padding: 100px;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

li {
  margin-top: 30px;
}

span {
  margin: 15px;
  padding: 12px;
  border-radius: 1rem;
  font-weight: bold;
  background-color: white;
}

li button {
  border: 0;
  outline: 0;
  background-color: #eeeeee;
  font-size: 1.1rem;
  transition: all 0.25s;
}

li button:hover {
  transform: scale(1.2);
}

.todo-input {
  border: 0;
  outline: 0;
  background-color: white;
  padding: 10px;
  width: 300px;
  margin-top: 5px;
  border-radius: 0.3rem;
  margin-right: 10px;
}

.form-btn {
  border: none;
  outline: none;
  background-color: #eeeeee;
  font-size: 1.3rem;
  transition: all 0.25s;
}

.form-btn:hover {
  transform: scale(1.2);
}
